trigger:
- azure-pipelines

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'
    addToPath: true

- script: |
    python -m venv venv
    source venv/bin/activate
    python -m pip install --upgrade pip
    pip install requests
  displayName: 'Install dependencies'

- script: |
    source venv/bin/activate
    python app2.py
  displayName: 'Run script'
  env:
    NEW_RELIC_API_KEY: $(NEW_RELIC_API_KEY)

- script: |
    source venv/bin/activate
    python app2.py
  displayName: 'Run script'
