trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
    addToPath: true

# Setup Miniconda
- script: |
    wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    bash miniconda.sh -b -p $HOME/miniconda
    echo "##vso[task.prependpath]$HOME/miniconda/bin"
    conda init bash
  displayName: 'Install Miniconda'

# Create and activate Conda environment
- script: |
    source $HOME/miniconda/bin/activate
    conda create --name your_env_name python=3.x
    conda activate your_env_name
    pip install requests
  displayName: 'Create and setup Conda environment'

# (Optional) Run tests
- script: |
    source $HOME/miniconda/bin/activate
    conda activate your_env_name
    python -m pytest
  displayName: 'Run tests'

# Run script
- script: |
    source $HOME/miniconda/bin/activate
    conda activate your_env_name
    python app2.py
  displayName: 'Run script'
